# Recordings directory
recordings/

# Log files
logs/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Configuration files
reference.yml
logs/transcription_app.log
reference.yml
src/__pycache__/logger_setup.cpython-312.pyc
reference.yml
logs/transcription_app.log
src/__pycache__/logger_setup.cpython-312.pyc
